/src/DeskBand/.vs/DeskBand/v16/*.suo
Debug
obj
bin
Release
/*.msi
packages
/*.suo
/*.vs
/*.user
.vs
/src/DeskBand/DeskBand/*.user
/src/FloatingWindowTool/TouchFishBrowserPackage/AppPackages
.bak
/*.bak
/src/FloatingWindowTool/.vs/FloatingWindowTool/DesignTimeBuild/*.v2
/src/FloatingWindowTool/.vs/FloatingWindowTool/v17/*.v1
/src/FloatingWindowTool/.vs/FloatingWindowTool/v17/*.suo
/src/FloatingWindowTool/.vs/FloatingWindowTool/v16/*.suo
